{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "eqeqeq": "error",
    "prettier/prettier": ["warn", { "endOfLine": "auto" }],
    "space-before-function-paren": ["error", {
      "anonymous": "always",
      "named": "never",
      "asyncArrow": "always"
    }],
    // Allow non-null assertions when we know the value is not null
    "@typescript-eslint/no-non-null-assertion": "off",
    // Allow explicity `any` types when needed
    "@typescript-eslint/no-explicit-any": "off",
    // Allow to ignore ts errors when explicity needed
    "@typescript-eslint/ban-ts-comment": "off",
    "react-hooks/exhaustive-deps": "off",
    // Don't need React to be in scope because it is global
    "react/react-in-jsx-scope": "off",
    // Ignore prop-types because we are using TypeScript
    "react/prop-types": "off"
  },
  "ignorePatterns": ["node_modules/", "dist/", "build/"]
}
